<?xml version="1.0"?>
<launch>
    <arg name="gripper_name" default="gripper"/>
    <node pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" name="robotiq_2f_gripper_rtu_node" args="/dev/ttyUSB0" output="screen">
        <remap from="Robotiq2FGripperRobotInput" to="$(arg gripper_name)/input"/>
        <remap from="Robotiq2FGripperRobotOutput" to="$(arg gripper_name)/output"/>
    </node>
    <node pkg="rostopic" type="rostopic" name="reset_gripper"
          args="pub /gripper/output robotiq_2f_gripper_control/Robotiq2FGripper_robot_output
          '{rACT: 0, rGTO: 0, rATR: 0, rPR: 0, rSP: 0, rFR: 0}' -1"/>
</launch>