<?xml version="1.0"?>
<launch>
    <arg name="gripper_name" default="gripper"/>
    <arg name="min_gap" default="0.0"/>
    <arg name="max_gap" default="0.085"/>
    <arg name="min_effort" default="0.0"/>
    <arg name="max_effort" default="100.0"/>

    <node pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" name="robotiq_2f_gripper_rtu_node" args="/dev/ttyUSB0" output="screen">
        <remap from="Robotiq2FGripperRobotInput" to="$(arg gripper_name)/input"/>
        <remap from="Robotiq2FGripperRobotOutput" to="$(arg gripper_name)/output"/>
    </node>
    <node name="robotiq_2f_gripper_action_server" pkg="robotiq_2f_gripper_action_server" type="robotiq_2f_gripper_action_server_node">
        <param name="gripper_name" type="str" value="$(arg gripper_name)" />
        <param name="min_gap" type="double" value="$(arg min_gap)"/>
        <param name="max_gap" type="double" value="$(arg max_gap)"/>
        <param name="min_effort" type="double" value="$(arg min_effort)"/>
        <param name="max_effort" type="double" value="$(arg max_effort)"/>
        <remap from="input" to="$(arg gripper_name)/input"/>
        <remap from="output" to="$(arg gripper_name)/output"/>
    </node>

<!--
    <node pkg="rostopic" type="rostopic" name="reset_gripper"
          args="pub /gripper/output robotiq_2f_gripper_control/Robotiq2FGripper_robot_output
          '{rACT: 0, rGTO: 0, rATR: 0, rPR: 0, rSP: 0, rFR: 0}' -1"/>
-->
</launch>